app/src/main/assets/paraformer/model.zip filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/vosk/model.zip filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/sounds/Lullaby.wav filter=lfs diff=lfs merge=lfs -text
